html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  vertical-align: bottom; }

header, nav, section, article, aside, footer {
  display: block; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

/*
 * $width: 960px
 *
 * $cols: 6
 *
 * $divs: 8 */
.cnt, #content {
  width: 960px;
  margin: 0 auto; }
  .cnt:after, #content:after {
    clear: both;
    display: block;
    content: "\0020"; }

body {
  font-size: 13px;
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #1b1b1b;
  background: white; }

a {
  color: #00a0dc;
  text-decoration: none; }
  a:hover, a:focus {
    color: #00a0dc; }

#content {
  padding: 6em 0; }
  #content dl.funnels dt.funnel.title {
    font: bold 1.5em/2 "Helvetica Neue", Arial, Helvetica, sans-serif; }
  #content dl.funnels dd.funnel.data {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    background: #f5f5f5;
    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#f0f0f0));
    background: -moz-linear-gradient(#fafafa, #f0f0f0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#f0f0f0')";
    *filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#f0f0f0');
    margin: 0 0 2em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
    #content dl.funnels dd.funnel.data:after {
      content: "";
      display: block;
      clear: both; }
    #content dl.funnels dd.funnel.data ul.steps li.step {
      width: 319px;
      float: left;
      padding: 0.75em 0;
      border-left: 1px solid #dddddd;
      height: 100%; }
      #content dl.funnels dd.funnel.data ul.steps li.step.one {
        -moz-border-radius: 4px 0 0 4px;
        -webkit-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px; }
      #content dl.funnels dd.funnel.data ul.steps li.step.one, #content dl.funnels dd.funnel.data ul.steps li.step.two {
        position: relative; }
        #content dl.funnels dd.funnel.data ul.steps li.step.one:after, #content dl.funnels dd.funnel.data ul.steps li.step.two:after {
          display: block;
          position: absolute;
          z-index: 2;
          top: 20px;
          right: -10px;
          content: ">";
          color: #cccccc;
          font-weight: bold;
          line-height: 1em;
          text-align: center;
          height: 16px;
          width: 16px;
          border: 2px solid #dddddd;
          background: white;
          -moz-border-radius: 9px;
          -webkit-border-radius: 9px;
          border-radius: 9px; }
      #content dl.funnels dd.funnel.data ul.steps li.step.three {
        width: 318px;
        float: left;
        border-right: 1px solid #dddddd;
        -moz-border-radius: 0 4px 4px 0;
        -webkit-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0; }
      #content dl.funnels dd.funnel.data ul.steps li.step .content {
        width: 186px;
        float: left;
        padding-left: 1em; }
        #content dl.funnels dd.funnel.data ul.steps li.step .content p.label {
          font: bold 10px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
          color: #aaaaaa;
          text-transform: uppercase;
          letter-spacing: 1px; }
      #content dl.funnels dd.funnel.data ul.steps li.step p.conversion-rate {
        font: 3em/1 "Helvetica Neue", Arial, Helvetica, sans-serif;
        float: right;
        margin-right: 13px;
        text-shadow: white 0 1px 0; }
        #content dl.funnels dd.funnel.data ul.steps li.step p.conversion-rate.low {
          color: #ff3300; }
        #content dl.funnels dd.funnel.data ul.steps li.step p.conversion-rate.med {
          color: #ffaa00; }
        #content dl.funnels dd.funnel.data ul.steps li.step p.conversion-rate.high {
          color: #00ee66; }
        #content dl.funnels dd.funnel.data ul.steps li.step p.conversion-rate:after {
          content: "%";
          color: #aaaaaa;
          font: bold 0.5em/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif; }
